.env

reveal.js-master/

AI_Learning_ToolKit/

# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Notebook output
lucas-the-agent-master/
test.txt
