ipykernel
python-dotenv
openai
langchain==0.1.16
langchainhub
langchain-openai
langchain-community
langchain-cli
langserve
tiktoken
pypdf
chroma
jira
google-search-results
numexpr
langgraph
beautifulsoup4