ipykernel
python-dotenv
openai>1.50.0
langchain
langgraph
langchainhub
langchain-openai
langchain-community
langchain-cli
langserve
faiss-cpu
tiktoken
pypdf
chroma
jira
google-search-results
numexpr
beautifulsoup4